/* This is a stylesheet made completely by scratch */

body{
    display: flex;
    flex-direction: column;
}

#sidebar{
    background-color: black;
    display:flex;
    margin-left:0 !important;
}

hr{
    border-top: 5px;
}

.date{
    font-style:italic;
}

.navbar{
    background-color: #262727;
  }

#resume{
    margin-right:30%;
}

#home{
    margin-left:30%;
}