/* This is a stylesheet made completely by scratch */

body{
    display: flex;
    flex-direction: column;
    font-family: "Arial", "Helvetica", "sans-serif";
}

#sidebar{
    background-color: black;
    display:flex;
    margin-left:0 !important;
}

hr{
    border-top: 5px;
}

.date{
    font-style:italic;
}

.navbar{
    background-color: #262727;
    height:30%;
}

#resume{
    margin-right:30%;
}

#home{
    margin-left:30%;
}

#profilePic{
    border-radius: 50%;
    margin-left:5%;
    margin-top:5%;
    margin-bottom: 5%;
}

.text{
    color: white;
}
#header{
    height:20%;
}
#textCol{
    padding:5%;
}